.heroContainer{
    position: relative;
    width: 100%;
    max-width: 100%;
}
.modelImg {
    width: 100%;
    display: block;
    height: 80vh;
    object-fit: contain;    
    margin-top: 2rem;
  }
.shopNowBtn {
    position: absolute;
    bottom: 10%; 
    right: 30%;
    transform: translateX(-50%);
    color: black;
    border: none;
    cursor: pointer;
    font-size: 1.2rem;
    background-color: #fff;
    padding: 0.5rem 1rem;
    letter-spacing: 0.1ch;
    white-space: nowrap;
  }


  @media (max-width: 768px) {
    .modelImg {
      height: 80vh;
      object-fit: cover;
    }
  
    .shopNowBtn {
      font-size: 1rem;
      padding: 0.4rem 0.8rem;
      bottom: 8%;
    }
  }
  
  @media (max-width: 480px) {
    .shopNowBtn {
      font-size: 0.9rem;
      padding: 0.3rem 0.7rem;
      bottom: 5%;
    }
  }