.cardList{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
    padding: 2rem;
}

.loadingContainer{
    width: 100vw;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardContainer{
    margin-top: 1rem;
    min-height: 300px;
}

.cardImgContainer{
    overflow: hidden;
    background: #f9f9f9;
}
.cardImgContainer img{
    width: 100%;
}
.cardContent h3{
    font-size: 0.98rem;
    padding: 0.5rem 0;
    font-weight: 500;
    letter-spacing: 0.1ch;
}

.cardContent p{
    font-size: 1.1rem;
    font-weight: 700;
}